<div>
  <div class="d-flex justify-content-center"><img src="assets/images/Dean-new-work-photo-2-221x300.jpg" style="border:1px solid black"></div>
  <div class="d-flex justify-content-center"><p class="information justify-content-center">Dean Edwards</p></div>
  <div class="d-flex justify-content-center"><p class="information">Authorised Financial Adviser</p></div>
  <div class="d-flex justify-content-center"><p class="information">Phone: 021 570 618</p></div>
  <div class="d-flex justify-content-center"><p class="information">Email: dean@nestegginvestments.co.nz</p></div>
</div>
