<app-page-header title="About"></app-page-header>
<div class="row">
  <div class="col-8">
    <div class="row">
      <p>Nest Egg Investments is a boutique financial advisory business, specialising in personalised financial and investment advice for individual clients.
        Nest
        Egg Investments is 100% independent, and does not accept payments or commissions from product providers. All services are tailored to the particular
        circumstances of each client, with all investment recommendations supported by leading independent research.</p>
      <p>Dean Edwards is the owner and Principal of Nest Egg Investments. Dean is a long-time investor and keen observer of investment markets, and brings a
        wealth
        of experience gained through a varied career in equity research, financial analysis, marketing and product management. Dean is an Authorised Financial
        Adviser and holds a BCom degree from the University of Auckland. Dean founded Nest Egg Investments in 2016.
        You can view Dean’s Primary and Secondary Disclosure Statement here:
        <a href="assets/pdf_files/Primary-and-secondary-disclosure-statements-21-June-2017.pdf" style="color: var(--nestEggRed)">Disclosure Statements</a>
      </p>
    </div>
  </div>
  <div class="col-4">
    <app-dean-info></app-dean-info>
  </div>
</div>
<div style="height: 22rem"></div>
