<div class="container">
  <div id="scrollingBanner" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <app-banner-item
          image = "assets/images/cat1.jpg"
          title="Financial Modelling"
          description="Have a customised Financial Model built from the ground up to answer all the 'what if' questions.">
        </app-banner-item>
      </div>
      <div class="carousel-item">
        <app-banner-item
          image = "assets/images/cat2.JPEG"
          title="Investment Advice"
          description="Get sound, independent investment advice, backed by research, from an Authorised Financial Adviser.">
        </app-banner-item>
      </div>
      <div class="carousel-item">
        <app-banner-item
          image = "assets/images/cat3.JPG"
          title="Retirement Planning"
          description="Plan for your retirement. Work out where you are at today and what your financial future might look like.">
        </app-banner-item>
      </div>
    </div>
    <a class="carousel-control-prev" href="#scrollingBanner" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#scrollingBanner" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
