/* You can add global styles to this file, and also import other style files */

:root {
  /* Global Colours */
  --nestEggOrange: #c68108;
  --nestEggGrey: rgba(220,220,220,0.65);
  --nestEggRed: #ed564b;
  --nestEggBlack: black;
  --nestEggCharcoal: #333333;
}
