/* You can add global styles to this file, and also import other style files */

:root {
  /* Global Colours */
  --nestEggOrange: #c68108;
  --nestEggGrey: #d2d2d2;
  --nestEggRed: #ed564b;
  --nestEggBlack: black;
}
