fa-icon{
  color: var(--nestEggRed);
  size: 4rem;
}

.list-group-item.active{
  border: 1px solid var(--nestEggGrey);
  border-right-color: white;
  border-left-color: white;
  background: var(--nestEggGrey);
  color: black;
}

.list-group-item.active #selectIcon{
  color: var(--nestEggRed);
}

.list-group-item:hover{
  cursor: pointer;
}

.list-group-item{
  border-right-color: white;
  border-left-color: white;
  text-align: left;
  overflow-x: hidden;
}
h1{
  color:var(--nestEggRed);
}
