<div class="container text-center">

  <div class="row">
    <div class="col-3" (click)="selectedReference = references[0]">{{references[0].author}}</div>
    <div class="col-3" (click)="selectedReference = references[1]">{{references[1].author}}</div>
    <div class="col-3" (click)="selectedReference = references[2]">{{references[2].author}}</div>
    <div class="col-3" (click)="selectedReference = references[3]">{{references[3].author}}</div>
  </div>
  <div class="row">
    <div class="col-12">
      {{this.selectedReference.text}}
    </div>
  </div>

  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      See all references
    </div>
    <div class="col-3"></div>
  </div>
</div>
