<app-service
  title="Initial consultation"
  subtitle="Free of Charge"
  fee="Free of Charge"
  description="<p>
  Let’s have a chat. An initial meeting with Financial Adviser Dean Edwards is free of charge, and there is no obligation to proceed further.
  This is an opportunity for you to discuss your situation, understand a bit more about what Nest Egg Investments can do for you, and to decide whether you wish to proceed with further financial and investment services with Nest Egg Investments.
  </p>
  <p>
  If you wish to go ahead, there are several fixed price offerings available that cover the most popular services:
  </p>
">
</app-service>

<app-service
  title="Investment Advice"
  subtitle="Making the most out of your savings"
  fee="$495 (Currently no GST is payable on this fee)"
  description="<p>
  If you have funds available to invest or are trying to work out the best way forwards financially, getting good advice as early as possible may be the best thing you can do to be successful.
  Whether you are looking to grow your wealth, meet a particular financial goal, or fund your retirement, I can help to cut through the clutter and provide sound investment advice and recommendations appropriate to your situation.
  Investment recommendations will factor in your personal situation, financial goals, risk profile, and be supported by leading independent research.
  I will go through each recommendation with you, and also provide a comprehensive written report.
  </p>
  <p>
  Typically, investment advice will cover (depending on the applicability for each client):
  </p>
<ul>
<li>A summary of your personal situation, financial goals and risk profile</li>
<li>Recommended investment asset class mix (ie the % of investments held in different asset classes such as domestic and offshore shares, property, fixed interest, cash, etc)</li>
<li>Specific investment product recommendations for each asset class above, information on each recommendation, and next steps to implement</li>
<li>KiwiSaver recommendations</li>
<li>Debt reduction recommendations</li>
<li>Other financial advice as applicable.</li>
</ul>
<p>
All advice provided is personalised, backed by leading independent research from Morningstar and FundSource, and in the best interests of the client.  Nest Egg Investments is independent and does not accept any commissions, payments or receive any other benefits from investment product providers.
</p>
">
</app-service>

<app-service
  title="Financial Model"
  subtitle="A realistic model of how your money can grow"
  fee="$495 (Currently no GST is payable on this fee)"
  description="<p>
  Knowledge is power.
  A comprehensive Financial Model is built from the ground up (as your situation will be unique) and provides a year by year forecast of your financial position, factoring in your current investments (including rental properties), mortgages and other debts, income, expenditure, and expected investment returns.
  The model is fully flexible to show the impacts of changing return assumptions, levels of income, amount of expenditure, one-off costs, KiwiSaver, NZ Super, etc.
  The Financial Model is particularly valuable for clients planning their retirement, as it will show how much money you will have when you retire, how much you can afford to spend, and how long your money will last.
  Fully adjustable, the Financial Model is also valuable for answering “what if” questions.
  For example: What if I retire 5 years earlier?  What if I spend $10k more/year in the first 10 years of retirement?  What if I downsize my house or sell my rental property?  What if I work part time for a few years? etc.
  </p>
  <p>
  Typically the Financial Model will involve a data gathering exercise to get the information needed to prepare the model, and a meeting to go through the model once prepared, to explain the outcomes, and review different scenarios.
  The model will then be changed and adjusted if necessary.
  Once completed, the Financial Model is provided to the client in an Excel spreadsheet format for the client to keep and use.
  </p>
">
</app-service>

<app-service
  title="Full Package"
  subtitle="Both a model and Investment advice in one package"
  fee="$895 (Currently no GST is payable on this fee)"
  description="<p>
  Undertaking a Financial Model (described above) and combining this with personalised Investment Advice (also described above) is an excellent way to understand where you are at, what your options are, and how best to invest going forwards.
  These are the most popular services provided by Nest Egg Investments, and if the exercises are carried out at the same time, I can offer a significant discount.
  </p>
  <p>
  Typically the Financial Model will involve a data gathering exercise to get the information needed to prepare the model, and a meeting to go through the model once prepared, to explain the outcomes, and review different scenarios.
  The model will then be changed and adjusted if necessary.
  Once completed, the Financial Model is provided to the client in an Excel spreadsheet format for the client to keep and use.
  </p>
">
</app-service>

<app-service
  title="Other Financial Advice"
  fee="Negotiable"
  description="<p>
  If the financial advice you are looking for doesn’t quite fit into the above categories, lets have a chat.  I can usually offer bespoke financial advice for a no-surprises fixed price.
  </p>
  <p>
  Typically the Financial Model will involve a data gathering exercise to get the information needed to prepare the model, and a meeting to go through the model once prepared, to explain the outcomes, and review different scenarios.
  The model will then be changed and adjusted if necessary.
  Once completed, the Financial Model is provided to the client in an Excel spreadsheet format for the client to keep and use.
  </p>
">
</app-service>

<app-service
  title="Managed Investment Service"
  subtitle=""
  customFee="$895 (Currently no GST is payable on this fee)"
  description="<p>
  The fully managed investment service is available for some clients with more than $500,000 to invest.
  It builds upon the Financial Model plus Investment Advice by implementing the investment recommendations agreed with you, and having your investment portfolio professionally managed on your behalf by Dean Edwards.
  </p>
  <p>
  The benefits of the Managed Investment Service include:
  </p>
  <ul>
  <li>Access to a wide range of investment products: managed funds, NZ and international shares, bonds and fixed interest investments. This includes preferential interest rates for term deposits from several leading banks.</li>
  <li>Professional management. Dean will monitor your investment portfolio on an ongoing basis, and make investment recommendations as required.  All recommendations are made in Dean’s capacity as a fully independent Financial Adviser, and supported by leading independent research. The decision to accept/decline each recommendation rests with you.</li>
  <li>Simplicity and efficiency. Your investments are held in a single portfolio, and we take care of all the paperwork and administration around buying, selling and holding investments</li>
  <li>Reporting and visibility. You will be provided with regular comprehensive reporting, and online access to view your portfolio in real time.  This makes it very easy to keep track of your investments.</li>
  <li>Tax reporting. You will receive a consolidated tax report at the end of the tax year covering all investments in your portfolio, ready to hand to your accountant.</li>
  <li>Security. Your investments are held in trust on one of New Zealand’s leading custodial platforms.  You remain the beneficial owner of your investments. Even if Nest Egg Investments goes out of business, your investments are not affected.</li>
  <li>Peace of mind. Your investments are being monitored and managed by Nest Egg Investments, leaving you free to enjoy your life without worrying about your investment portfolio.</li>
  <li>Ongoing access to financial advice. Talk to Dean at any time.</li>
  </ul>
">
</app-service>

<app-service
  title="Not for profit work"
  subtitle=""
  description="<p>
  I allocate up to 1 day a week for charitable or not-for-profit work. This is usually in areas such as budgeting support, debt repayment or financial advice for those that are genuinely unable to afford the services of an adviser. Please contact me to discuss this further.
  </p>
  ">
</app-service>
